<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- (user.role).charAt(0).toUpperCase() + (user.role).slice(1)%> <%- pageName %></title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/animate.css">
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <link rel="stylesheet" href="./assets/css/owl.min.css">
    <link rel="stylesheet" href="./assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <link rel="stylesheet" href="./assets/css/flaticon.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/admin.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/js-toastr@1.1.1/toast.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
</head>
<body>
    <%- include("./components/basic/preloader") %>
    <%- include("./components/navbars/adminNavbar") %>
    <%- include("./components/basic/pageHeader") %>

    <!--============= Page Content Starts Here =============-->
    <section id="admin-payouts">
        <h3>Need Review</h3>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Affilate Code</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="payouts-list">
                </tbody>
            </table>    
        </div>
        
    </section>

    <section id="admin-payouts-reviewed">
        <h3>Past Payouts</h3>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Affilate Code</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="payouts-list-reviwed">
                </tbody>
            </table>
        </div>
    </section>
    <!--============= Page Content Ends Here =============-->
    
    <!-- Modal -->
    <div id="payoutModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div id="close-modal">
                <i class="fa-solid fa-x"></i>
            </div>
            <h3>Payout Request</h3>

            <div id="notification">
                <div id="notification-content"></div>
            </div>
            
            <div class="payout-modal-input">
                <label for="payout-user">User</label>
                <input type="text" id="payout-user" name="payout-user" value="Itsqwerty (d2hh23)" disabled>
            </div>

            <div class="payout-modal-input">
                <label for="payout-amount">Payout Amount</label>
                <input type="text" id="payout-amount" name="payout-amount" value="$5.00" disabled>
            </div>

            <div class="payout-modal-input">
                <label for="payout-method">Payment Method</label>
                <input type="text" id="payout-method" name="payout-method" value="test@gmail.com (PayPal)" disabled>
            </div>

            <div class="payout-modal-input">
                <label for="update-status">Status</label>
                <select name="update-status" id="update-status" class="payout-select">
                    <option selected="true" value="" disabled>Select Status</option>
                    <option value="denied">Denied</option>
                    <option value="paid">Paid</option>
                </select>
            </div>

            <div class="payout-modal-input">
                <label for="payout-comment">Notes/Comments</label>
                <textarea type="text" id="payout-comment" name="payout-comment" placeholder="These notes will be visible to the user."></textarea>
            </div>

            <div class="payout-modal-input">
                <button id="confirm-payout"><i class="fa-solid fa-circle-check"></i> Confirm</button>
            </div>
        </div>
    </div>


    <%- include("./components/basic/scripts.ejs") %>
    <script type="text/javascript" src="/assets/js/custom/admin_payouts.js"></script>
</body>
</html>