<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- (user.role).charAt(0).toUpperCase() + (user.role).slice(1)%> <%- pageName %></title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/animate.css">
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <link rel="stylesheet" href="./assets/css/owl.min.css">
    <link rel="stylesheet" href="./assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <link rel="stylesheet" href="./assets/css/flaticon.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/admin.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/js-toastr@1.1.1/toast.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
</head>
<body>
    <%- include("./components/basic/preloader") %>
    <%- include("./components/navbars/adminNavbar") %>
    <%- include("./components/basic/pageHeader") %>
    <%- include("./components/stats/adminStats"); %>


    <!--============= Mange Country Section Starts Here =============-->
    <div class="mange-country padding-bottom">
        <h3 class="mange-title">Mange Country</h3>
        <div class="country-options">
            <label for="countries">Fetch Countries</label>
            <select name="countries" id="countries-select" class="countries-select">
                <option selected disabled>Fetch Country Stock</option>
                <% stock.forEach(item => {%>
                    <option value="<%- item.countryCode %>"><%- item.name %> (<%- item.countryCode %>)</option>
                <% });%>
            </select>

            <button type="button" id="addCountry-popup">Add Country</button>
            <button type="button" id="deleteCountry-popup">Delete Country</button>
        </div>
    </div>
    <!--============= Mange Country Section Ends Here =============-->


    <!--============= Mange Stock Section Starts Here =============-->
    <div class="mange-stock padding-bottom">
        <h3 class="mange-title">Add Stock For Stock Upgrade</h3>
        <div class="add-stock">
            <label for="country-stock">Select country</label>
            <select name="country-stock" id="select-country-stock" class="countries-select">
                <option selected disabled>Select country to add stock</option>
                <% stock.forEach(item => {%>
                    <option value="<%- item.countryCode %>"><%- item.name %> (<%- item.countryCode %>)</option>
                <% });%>
            </select>
            <textarea class="add-stock-textarea" id="stock-data-textarea" placeholder='Paste Invite Address and Invite Link Seperated By "|"'></textarea>
            <button type="button" id="add-stock-btn">Upload Stock</button>
        </div>
    </div>
    <!--============= Mange Stock Section Ends Here =============-->



    <!--============= Modals Section Starts Here =============-->
    <!-- Country Stock Data Modal -->
    <div id="countryStock-modal" class="modal">
        <!-- Modal Content -->
        <div id="countryStock-modal-content" class="modal-content">
            <!-- <span class="close">&times;</span> -->
        </div>
    </div>


    <!-- Add Country Modal -->
    <div id="addCountry-modal" class="modal">
        <!-- Modal Content -->
        <div id="addCountry-modal-content" class="modal-content">
            <!-- <span class="close">&times;</span> -->
            <h5 class="modal-heading">Add Country</h5>
            <p>The website will automatically fetch the country name from the country code</p>
            <div class="inputGroup">
                <label for="countryCode">Country Code</label>
                <input type="text" name="countryCode" id="countryCode" class="form-control">
            </div>

            <button type="button" class="confirm-btn" id="addCountry-confirm">Confirm</button>
        </div>
    </div>

    <!-- Delete Country Modal -->
    <div id="deleteCountry-modal" class="modal">
        <!-- Modal Content -->
        <div id="deleteCountry-modal-content" class="modal-content">
            <!-- <span class="close">&times;</span> -->
            <h5 class="modal-heading">Delete Country</h5>
            <p>NOTE: Deleting the country will also delete all stock data and will make keys attached to the country not be able to upgrade or get replacements</p>
            <div class="inputGroup">
                <label for="countryName">Country Name</label>
                <select class="countries-select" id="select-country-delete">
                    <option selected disabled>Select a country to delete</option>
                    <% stock.forEach(item => {%>
                        <option value="<%- item.countryCode %>"><%- item.name %> (<%- item.countryCode %>)</option>
                    <% });%>
                </select>
            </div>

            <button type="button" class="delete-btn" id="deleteCountry-confirm">Delete</button>
        </div>
    </div>
    <!--============= Modals Section Ends Here =============-->
    
    <%- include("./components/basic/scripts") %>
    <script src="./assets/js/custom/admin_stock.js"></script>
</body>
</html>