<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/animate.css">
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <link rel="stylesheet" href="./assets/css/owl.min.css">
    <link rel="stylesheet" href="./assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <link rel="stylesheet" href="./assets/css/flaticon.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/admin.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/js-toastr@1.1.1/toast.css">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
</head>
<body>
    <!--============= ScrollToTop Section Starts Here =============-->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>
    <!--============= ScrollToTop Section Ends Here =============-->

    <!--============= NavBar Section Starts Here =============-->
    <%- include('./components/adminNavbar'); %>
    <!--============= NavBar Section Ends Here =============-->

     <!--============= Header Section Ends Here =============-->
     <section class="page-header bg_img" data-background="./assets/images/page-header.png">
        <div class="bottom-shape d-none d-md-block">
            <img src="./assets/css/img/page-header.png" alt="css">
        </div>
        <div class="container">
            <div class="page-header-content cl-white">
                <h2 class="title">Admin Dashboard</h2>
                <ul class="breadcrumb">
                    <li>
                        <a href="/admin">Admin</a>
                    </li>
                    <li>
                        Dashboard
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--============= Header Section Ends Here =============-->


    <!--============= Stats Section Ends Here =============-->
    <%- include('./components/adminStats'); %>
    <!--============= Stats Section Ends Here =============-->

    <!--============= Config Section Ends Here =============-->
    <section id="config-section" class="config-section padding-bottom">
        <div class="config-box">
            <div class="config-info">
                <h4>Auth Cookie</h4>
                <p>The cookie is generated with the Spotify login information to check Invite links</p>
            </div>
            <div class="config-edit">
                <input type="text" id="authCookie" value="<%- authCookie %>" placeholder="Auth cookie" disabled>
                <button class="btn btn-primary config-btn cookie-btn" id="authCookie-btn" disabled>The cookie is re-generated every 24 hours</button>
            </div>
        </div>
        
        <div class="config-box">
            <div class="config-info">
                <h4>Spotify Login</h4>
                <p>Email:Password is used to update the auth cookie</p>
            </div>
            <div class="config-edit">
                <input type="text" id="spotifyLogin" value="<%- spotifyLogin %>" placeholder="Enter Spotify Login (Email:Password)">
                <button class="btn btn-primary config-btn" id="spotifyLogin-btn">Update</button>
            </div>
        </div>
    
        <div class="config-box">
            <div class="config-info">
                <h4>2captcha.com API Key</h4>
                <p>To solve captcha while updating auth cookies</p>
            </div>
            <div class="config-edit">
                <input type="text" id="twoCaptchaTokenApiKey" value="<%- twoCaptchaTokenApiKey %>" placeholder="Enter API Key">
                <button class="btn btn-primary config-btn" id="twoCaptchaTokenApiKey-btn">Update</button>
            </div>
        </div>
    
        <div class="config-box">
            <div class="config-info">
                <h4>Max Key Replacements</h4>
                <p>The maximum amount of replacements before a key is locked</p>
            </div>
            <div class="config-edit">
                <input type="text" id="maxReplacements" value="<%- maxReplacements %>" placeholder="Enter Max Replacements">
                <button class="btn btn-primary config-btn" id="maxReplacements-btn">Update</button>
            </div>
        </div>
    
        <div class="config-box">
            <div class="config-info">
                <h4>Replacement Cool Down</h4>
                <p>The amount of minutes the user needs to wait after each upgrade or replacement</p>
            </div>
            <div class="config-edit">
                <input type="text" id="replacementCooldown" value="<%- replacementCooldown %>" placeholder="Enter Replacement Cooldown">
                <button class="btn btn-primary config-btn" id="replacementCooldown-btn">Update</button>
            </div>
        </div>
    
        <div class="config-box">
            <div class="config-info">
                <h4>Discord Server</h4>
                <p>Discord Invite Link (/discord)</p>
            </div>
            <div class="config-edit">
                <input type="text" id="discordServer" value="<%- discordServer %>" placeholder="Enter Server Link">
                <button class="btn btn-primary config-btn" id="discordServer-btn">Update</button>
            </div>
        </div>

        <div class="config-box">
            <div class="config-info">
                <h4>Contact Link</h4>
                <p>Link to redirect users to on /contact</p>
            </div>
            <div class="config-edit">
                <input type="text" id="contactLink" value="<%- contactLink %>" placeholder="Enter Contact Link">
                <button class="btn btn-primary config-btn" id="contactLink-btn">Update</button>
            </div>
        </div>
    </section>
    <!--============= Config Section Ends Here =============-->
    


    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/js/modernizr-3.6.0.min.js"></script>
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/magnific-popup.min.js"></script>
    <script src="./assets/js/jquery-ui.min.js"></script>
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/waypoints.js"></script>
    <script src="./assets/js/nice-select.js"></script>
    <script src="./assets/js/owl.min.js"></script>
    <script src="./assets/js/counterup.min.js"></script>
    <script src="./assets/js/paroller.js"></script>
    <script src="./assets/js/countdown.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/custom/admin_dashboard.js"></script>
    <script src="./assets/js/custom/admin_signout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-toastr@1.1.1/toast.min.js"></script>
</body>
</html>