<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- (user.role).charAt(0).toUpperCase() + (user.role).slice(1)%> <%- pageName %></title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/animate.css">
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <link rel="stylesheet" href="./assets/css/owl.min.css">
    <link rel="stylesheet" href="./assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <link rel="stylesheet" href="./assets/css/flaticon.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/admin.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/js-toastr@1.1.1/toast.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
</head>
<body>
    <%- include("./components/basic/preloader") %>
    <%- include("./components/navbars/adminNavbar") %>
    <%- include("./components/basic/pageHeader") %>
    <% if (user.role === "admin") { %>
        <%- include('./components/stats/adminPaymentStats'); %>
    <% } else { %>
        <div style="margin-bottom: 10rem;"></div>
    <% } %>

    



    <!--============= Payments Section Ends Here =============-->
    <section id="payments">
        <div id="table-payments-options">
            <div class=""></div>
            <div class="payments-custom-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input id="payments-search-bar" placeholder="Search (Order ID or Email)" class="payments-search-input">
            </div>
        </div>

        <table class="table table-hover table-condensed">

            <thead>
                <tr>
                    <th>Info</th>
                    <th>Value</th>
                    <th>Status</th>
                    <th>Time</th>
                </tr>
            </thead>

            <tbody id="payments-table-body">
            </tbody>
        </table>

        <div class="pagination">

            <div class="pagination-stats">
                <p id="number-of-total-items">Loading...</p>
            </div>

            <div class="pagination-pages">
                <ul id="pagination-pages-ul">
                    <li data-job="down"><i class="fa-solid fa-caret-left"></i></li>
                    <li data-job="page-input"><i id="pagination-page-number" class="no-font-style">1</li>
                    <li data-job="up"><i id="pagination-page-up" class="fa-solid fa-caret-right"></i></li>
                </ul>
            </div>
        </div>
    </section>
    <!--============= Payments Section Ends Here =============-->
    


    <%- include("./components/basic/scripts.ejs") %>
    <script src="./assets/js/custom/admin_payments.js"></script>
</body>
</html>