<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- (user.role).charAt(0).toUpperCase() + (user.role).slice(1)%> <%- pageName %></title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./assets/css/all.min.css" />
    <link rel="stylesheet" href="./assets/css/animate.css" />
    <link rel="stylesheet" href="./assets/css/nice-select.css" />
    <link rel="stylesheet" href="./assets/css/owl.min.css" />
    <link rel="stylesheet" href="./assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="./assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="./assets/css/flaticon.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/admin.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/js-toastr@1.1.1/toast.css" />
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
  </head>
  <body>
    <%- include("./components/basic/preloader") %> 
    <%- include("./components/navbars/adminNavbar") %> 
    <%- include("./components/basic/pageHeader") %> 
    <%- include("./components/stats/adminStats") %>

    <!--============= Config Section Ends Here =============-->
    <section id="config-section" class="config-section padding-bottom">
      <div class="config-box">
        <div class="config-info">
          <h4>Auth Cookie</h4>
          <p>
            The cookie is generated with the Spotify login information to check
            Invite links
          </p>
        </div>
        <div class="config-edit">
          <input
            type="text"
            id="authCookie"
            value="<%- authCookie %>"
            placeholder="Auth cookie"
            disabled
          />
          <button
            class="btn btn-primary config-btn cookie-btn"
            id="authCookie-btn"
            disabled
          >
            The cookie is re-generated every 24 hours
          </button>
        </div>
      </div>

      <div class="config-box">
        <div class="config-info">
          <h4>Spotify Login</h4>
          <p>Email:Password is used to update the auth cookie</p>
        </div>
        <div class="config-edit">
          <input
            type="text"
            id="spotifyLogin"
            value="<%- spotifyLogin %>"
            placeholder="Enter Spotify Login (Email:Password)"
          />
          <button class="btn btn-primary config-btn" id="spotifyLogin-btn">
            Update
          </button>
        </div>
      </div>

      <div class="config-box">
        <div class="config-info">
          <h4>Affilate Payout</h4>
          <p>
            The minimum amount affilate users must accumlate before being able
            to make a payout request (in USD)
          </p>
        </div>
        <div class="config-edit">
          <input
            type="text"
            id="affilateMinimumPayout"
            value="<%- affilateMinimumPayout %>"
            placeholder="Enter Affilate Minimum Payout (USD)"
          />
          <button
            class="btn btn-primary config-btn"
            id="affilateMinimumPayout-btn"
          >
            Update
          </button>
        </div>
      </div>

      <div class="config-box">
        <div class="config-info">
          <h4>2captcha.com API Key</h4>
          <p>To solve captcha while updating auth cookies</p>
        </div>
        <div class="config-edit">
          <input
            type="text"
            id="twoCaptchaTokenApiKey"
            value="<%- twoCaptchaTokenApiKey %>"
            placeholder="Enter API Key"
          />
          <button
            class="btn btn-primary config-btn"
            id="twoCaptchaTokenApiKey-btn"
          >
            Update
          </button>
        </div>
      </div>

      <div class="config-box">
        <div class="config-info">
          <h4>Max Key Replacements</h4>
          <p>The maximum amount of replacements before a key is locked</p>
        </div>
        <div class="config-edit">
          <input
            type="text"
            id="maxReplacements"
            value="<%- maxReplacements %>"
            placeholder="Enter Max Replacements"
          />
          <button class="btn btn-primary config-btn" id="maxReplacements-btn">
            Update
          </button>
        </div>
      </div>

      <div class="config-box">
        <div class="config-info">
          <h4>Replacement Cool Down</h4>
          <p>
            The amount of minutes the user needs to wait after each upgrade or
            replacement
          </p>
        </div>
        <div class="config-edit">
          <input
            type="text"
            id="replacementCooldown"
            value="<%- replacementCooldown %>"
            placeholder="Enter Replacement Cooldown"
          />
          <button
            class="btn btn-primary config-btn"
            id="replacementCooldown-btn"
          >
            Update
          </button>
        </div>
      </div>

      <div class="config-box">
        <div class="config-info">
          <h4>Discord Server</h4>
          <p>Discord Invite Link (/discord)</p>
        </div>
        <div class="config-edit">
          <input
            type="text"
            id="discordServer"
            value="<%- discordServer %>"
            placeholder="Enter Server Link"
          />
          <button class="btn btn-primary config-btn" id="discordServer-btn">
            Update
          </button>
        </div>
      </div>

      <div class="config-box">
        <div class="config-info">
          <h4>Feedback Link</h4>
          <p>Link to redirect users to on /feedback</p>
        </div>
        <div class="config-edit">
          <input
            type="text"
            id="feedbackLink"
            value="<%- feedbackLink %>"
            placeholder="Enter Feedback Link"
          />
          <button class="btn btn-primary config-btn" id="feedbackLink-btn">
            Update
          </button>
        </div>
      </div>

      <div class="config-box">
        <div class="config-info">
          <h4>Contact Link</h4>
          <p>Link to redirect users to on /contact</p>
        </div>
        <div class="config-edit">
          <input
            type="text"
            id="contactLink"
            value="<%- contactLink %>"
            placeholder="Enter Contact Link"
          />
          <button class="btn btn-primary config-btn" id="contactLink-btn">
            Update
          </button>
        </div>
      </div>
    </section>
    <!--============= Config Section Ends Here =============-->

    <%- include("./components/basic/scripts") %>
    <script src="./assets/js/custom/admin_dashboard.js"></script>
  </body>
</html>
