<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogs</title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/animate.css">
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <link rel="stylesheet" href="./assets/css/owl.min.css">
    <link rel="stylesheet" href="./assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <link rel="stylesheet" href="./assets/css/flaticon.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/blog.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/js-toastr@1.1.1/toast.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
</head>

<body>

    <%- include("./components/basic/preloader") %>
    <%- include("./components/navbars/userNavbar") %>
     <!--============= Header Section Ends Here =============-->
     <section class="page-header bg_img oh" data-background="./assets/images/page-header.png">
        <div class="container">
            <div class="page-header-content cl-white">
                <h2 class="title">Blog Pages</h2>
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#0">Pages</a>
                    </li>
                    <li>
                        Blog Pages
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--============= Header Section Ends Here =============-->

    <!--============= Blog Section Starts Here =============-->
    <section class="blog-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <article class="mb-40-none">
                        <% blogs.map((blog, index) => {%>
                        <div class="post-item">
                            <div class="post-thumb">
                                <a href="/blog/<%- blog.url %>"><img src="<%- blog.image %>" alt="blog"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="title">
                                    <a href="/blog/<%- blog.url %>"><%- blog.title %> </a>
                                </h3>
                                <p><%- blog.description %></p>
                                <a href="/blog/<%- blog.url %>" class="read"><%- blog.readTime %> Read</a>
                            </div>
                        </div>
                    <% }) %>
                      
                    </article>
                    <!-- <div class="pagination-area text-center pt-50 pb-50 pb-lg-none">
                        <a href="#0"><i class="fas fa-angle-double-left"></i><span>Prev</span></a>
                        <a href="#0" class="active">1</a>
                        <a href="#0">2</a>
                        <a href="#0">3</a>
                        <a href="#0">4</a>
                        <a href="#0">5</a>
                        <a href="#0"><span>Next</span><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div> -->
                
            </div>
        </div>
    </section>
    <!--============= Blog Section Ends Here =============-->

    <%- include("./components/footers/userFooter") %>
    <% const user = false %>
    <%- include("./components/basic/scripts", { user }) %>
</body>
</html>