<div class="feature-section padding-top padding-bottom">
    <div class="container">
        <div class="owl-theme owl-carousel feature-item-2-slider mb--50">
            <div class="feature-item-2">
                <div class="feature-thumb">
                    <img src="./assets/images/feature/featurei1.png" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Total Orders</h4>
                    <p><%- totalPayments %></p>
                </div>
            </div>
            <div class="feature-item-2">
                <div class="feature-thumb">
                    <img src="./assets/images/feature/featurei2.png" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Total Revenue</h4>
                    <p>$<%- totalPaymentsRevenue.toFixed(2) %></p>
                </div>
            </div>
            <div class="feature-item-2">
                <div class="feature-thumb">
                    <img src="./assets/images/feature/featurei3.png" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Last 24 Hours Orders</h4>
                    <p><%- last24HourTotalPaymentsLength  %></p>
                </div>
            </div>
            <div class="feature-item-2">
                <div class="feature-thumb">
                    <img src="./assets/images/feature/featurei3.png" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Last 24 Hours Revenue</h4>
                    <p>$<%- last24HourTotalPaymentsRevenue.toFixed(2) %></p>
                </div>
            </div>
            <div class="feature-item-2">
                <div class="feature-thumb stripe-stats">
                    <img src="./assets/images/payments/methods/stripe.svg" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Total Stripe Fees</h4>
                    <p>$<%- stripeFees.toFixed(2) %></p>
                </div>
            </div>
            <div class="feature-item-2">
                <div class="feature-thumb crypto-stats">
                    <img src="./assets/images/payments/methods/bitcoin.svg" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Total Coinbase Fees</h4>
                    <p>$<%- coinbaseFees.toFixed(2) %></p>
                </div>
            </div>
            <div class="feature-item-2">
                <div class="feature-thumb stripe-stats">
                    <img src="./assets/images/payments/methods/stripe.svg" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Total Stripe Revenue</h4>
                    <p>$<%- stripeRevenue.toFixed(2) %></p>
                </div>
            </div>
            <div class="feature-item-2">
                <div class="feature-thumb crypto-stats">
                    <img src="./assets/images/payments/methods/bitcoin.svg" alt="feature">
                </div>
                <div class="feature-content">
                    <h4 class="title">Total Coinbase Revenue</h4>
                    <p>$<%- coinbaseRevenue.toFixed(2) %></p>
                </div>
            </div>
        </div>
    </div>
</div>


