<div class="">
  <div class="aHl"></div>
  <div id=":qn" tabindex="-1"></div>
  <div
    id=":qc"
    class="ii gt"
    jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0."
  >
    <div id=":qb" class="a3s aiL msg8187342761482297449"><u></u>
      <div style="background:#f9f9f9">
        <div style="background-color:#f9f9f9">

          <div style="margin:0px auto;max-width:640px;background:transparent">
            <table
              role="presentation"
              style="font-size:0px;width:100%;background:transparent"
              cellspacing="0"
              cellpadding="0"
              border="0"
              align="center"
            >
              <tbody>
                <tr>
                  <td
                    style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 0px"
                  >
                    <div
                      aria-labelledby="mj-column-per-100"
                      class="m_8187342761482297449mj-column-per-100"
                      style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%"
                    >
                      <table
                        role="presentation"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="word-break:break-word;font-size:0px;padding:0px"
                              align="center"
                            >
                              <table
                                role="presentation"
                                style="border-collapse:collapse;border-spacing:0px"
                                cellspacing="0"
                                cellpadding="0"
                                border="0"
                                align="center"
                              >
                                <tbody>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            style="max-width:640px;margin:0 auto;border-radius:4px;overflow:hidden"
          >
            <div style="margin:0px auto;max-width:640px;background:#ffffff">
              <table
                role="presentation"
                style="font-size:0px;width:100%;background:#ffffff"
                cellspacing="0"
                cellpadding="0"
                border="0"
                align="center"
              >
                <tbody>
                  <tr>
                    <td
                      style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px"
                    >
                      <table
                        role="presentation"
                        style="border-collapse:collapse;border-spacing:0px"
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                        align="center"
                      >
                        <tbody>
                          <tr>
                            <td style="width:640px"><img
                                alt=""
                                title=""
                                src="https://i.imgur.com/tz2AzOw.jpeg"
                                class="CToWUd a6T"
                                tabindex="0"
                                width="640"
                                height="auto"
                              />
                              <div
                                class="a6S"
                                dir="ltr"
                                style="opacity: 0.01; left: 713px; top: 466.45px;"
                              >
                                <div
                                  id=":re"
                                  class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                  role="button"
                                  tabindex="0"
                                  aria-label="Download attachment "
                                  data-tooltip-class="a1V"
                                  data-tooltip="Download"
                                >
                                  <div class="akn">
                                    <div class="aSK J-J5-Ji aYr"></div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="margin:0px auto;max-width:640px;background:#ffffff">
              <table
                role="presentation"
                style="font-size:0px;width:100%;background:#ffffff"
                cellspacing="0"
                cellpadding="0"
                border="0"
                align="center"
              >
                <tbody>
                  <tr>
                    <td
                      style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 50px"
                    >
                      <div
                        aria-labelledby="mj-column-per-100"
                        class="m_8187342761482297449mj-column-per-100"
                        style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%"
                      >
                        <table
                          role="presentation"
                          width="100%"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td
                                style="word-break:break-word;font-size:0px;padding:0px"
                                align="left"
                              >
                                <div
                                  style="color:#737f8d;font-family: Open Sans, sans-serif;font-size:16px;line-height:24px;text-align:left"
                                >

                                  <h2
                                    style="font-family: Open Sans, sans-serif;font-weight:500;font-size:20px;color:#4f545c;letter-spacing:0.27px"
                                  >
                                    {{thankyouMessage}}</h2>
                                  <p>Order confirmed! Thanks for supporting
                                    <span class="il">{{siteName}}</span>. You're
                                    awesome and you're our favorite
                                    <span class="il">{{siteName}}</span>
                                    user (just don't tell the others).
                                  </p>
                                  <br />
                                  <table style="width:100%">
                                    <thead>
                                      <tr>
                                        <th><strong>Purchase Details:</strong>
                                        </th>
                                        <th style="text-align:right"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Purchase Date:</td>
                                        <td style="text-align:right">{{time}}</td>
                                      </tr>
                                      <tr>
                                        <td><span class="il">Item Name:</span></td>
                                        <td style="text-align:right">{{planName}}
                                        </td>
                                      </tr>
                                     <tr>
                                        <td><span class="il">Payment Source:</span></td>
                                        <td style="text-align:right">{{paymentSource}}
                                        </td>
                                      </tr> 
                                      <tr>
                                        <td>Order</td>
                                        <td style="text-align:right"><a href="{{clientUrl}}/order/{{orderId}}" target="_tab">{{orderId}}</a></td>
                                      </tr>
                                      <tr>
                                        <td>Tax:</td>
                                        <td style="text-align:right">
                                          Included</td>
                                      </tr>
                                      <tr>
                                        <td>Total:</td>
                                        <td style="text-align:right">
                                          ${{amountPaid}}</td>
                                      </tr>
                                    </tbody>
                                  </table>

                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td
                                style="word-break:break-word;font-size:0px;padding:30px 0px"
                              >
                                <p
                                  style="font-size:1px;margin:0px auto;border-top:1px solid #dcddde;width:100%"
                                >
                                </p>
                              </td>
                            </tr>
                            <tr>
                              <td
                                style="word-break:break-word;font-size:0px;padding:0px"
                                align="left"
                              >
                                <div
                                  style="color:#747f8d;font-family: Open Sans, sans-serif;font-size:13px;line-height:16px;text-align:center"
                                >
                                  <p>Need help?
                                    <a
                                      href="{{clientUrl}}/discord"
                                      style="font-family: Open Sans, sans-serif;color:#5865f2"
                                      target="_blank"
                                    >Contact our support team via our Discord server</a>
                                    and open a ticket!</a><br />
                                    Want to give us feedback? Let us know what
                                    you think on our 
                                    <a
                                      href="{{clientUrl}}/feedback"
                                      style="font-family: Open Sans, sans-serif;color:#5865f2"
                                      target="_blank">Trustpilot</a>.
                                  </p>

                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div style="margin:0px auto;max-width:640px;background:transparent">
            <table
              role="presentation"
              style="font-size:0px;width:100%;background:transparent"
              cellspacing="0"
              cellpadding="0"
              border="0"
              align="center"
            >
              <tbody>
                <tr>
                  <td
                    style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px"
                  >
                    <div
                      aria-labelledby="mj-column-per-100"
                      class="m_8187342761482297449mj-column-per-100"
                      style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%"
                    >
                      <table
                        role="presentation"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="word-break:break-word;font-size:0px;padding:0px"
                              align="center"
                            >
                              <div
                                style="color:#99aab5;font-family: Open Sans, sans-serif;font-size:12px;line-height:24px;text-align:center"
                              >
                                Sent by
                                <span class="il">{{sentBy}}</span>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              style="word-break:break-word;font-size:0px;padding:0px"
                              align="left"
                            >
                              <div
                                style="color:#000000;font-family: Open Sans, sans-serif;font-size:13px;line-height:22px;text-align:left"
                              >
                                <img
                                  src="https://ci4.googleusercontent.com/proxy/GLoKwnZb0BwYUlv3cfKFqB6F4rZzK-Eja2rF482Hm9NvG5zvO-TS-TdtUvPI_MO00kHJYDtijIUCRKA9DHQ1qtJ0B-2Olb8Kfl-9AH3m31pI8k0zEB9lEPakVhRzox9aPsvS3l5Gfty6DG0qQZqnFJHdpThtF_PlJ7d_JcQTl2IH0LgwYllN25pMcz0Qp1jL6UyBgMN32Xbnx_LcYexLClGI6a13WqW7jEXoBC3jMctYH_vRyIzNdus=s0-d-e1-ft#https://discord.com/api/science/976700499350937612/1a66af5a-6946-4c7f-bb1e-d0596219f5c7.gif?properties=eyJlbWFpbF90eXBlIjogInN1YnNjcmlwdGlvbl90cmlhbF9yZWNlaXB0In0%3D"
                                  class="CToWUd"
                                  width="1"
                                  height="1"
                                />
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="yj6qo"></div>
      <div class="adL">
      </div>
    </div>
  </div>
  <div id=":qq" class="ii gt" style="display:none">
    <div id=":qr" class="a3s aiL"></div>
  </div>
  <div class="hi"></div>
</div>